$f-l-color: #666;
$red-color: #f72210;

.svg-style {
  width: 236px;
  height: 36px;
  fill: $red-color;
  margin-right: 15px;
  margin-bottom: 12px;
}

.link-size {
  line-height: 15px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-links {
  color: $f-l-color;
}

.fs-7 {
  font: 12px Arial, Helvetica, sans-serif;
}

.pe-20 {
  padding-right: 20px;
}

.page-footer {
  padding: 48px 15px 30px;
}

.icons {
  height: 24px;
  width: 24px;
  text-align: center;
}

.icons-font {
  font-size: 26px;
}

.mb-12 {
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .show-border {
    border-right: 1px solid rgb(231, 231, 231);
  }
}

.datetime,
.nav-middle,
.nav-lower,
.login {
  display: none;
}

.search-area {
  text-align: right;
}

.search-area > a {
  text-decoration: none;
}

.nav-top {
  background-color: #f72210;
  padding: 8px;
}

.nav-logo {
  width: 50%;
  height: 20px;
}

.btn-subscribe {
  font-weight: bold;
  border-radius: 20px;
}

.nav-middle .navbar-nav a {
  color: black !important;
  line-height: 50px;
}

/* Desktop */
@media only screen and (min-width: 992px) {
  .datetime,
  .nav-middle,
  .nav-lower,
  .login {
    display: inline;
  }

  .user-logo,
  .menu-icon {
    display: none;
  }

  .datetime {
    margin-top: 40px;
  }

  .search-area {
    padding-top: 40px;
    text-align: right;
  }

  .login {
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
  }

  .nav-middle a {
    font-weight: bold;
    border-right: 1px solid rgb(230, 228, 228);
    font-size: 1rem;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .search_icon a {
    text-decoration: none;
    color: grey;
    font-weight: lighter;
    padding: 3px 2px 0 5px;
  }

  .nav-lower a {
    border-top: 2px solid rgb(230, 228, 228);
    border-bottom: 2px solid rgb(230, 228, 228);
    text-align: center;
    font-weight: bold;
  }

  .datetime a {
    text-decoration: none;
    color: #fff;
  }

  .nav-logo {
    width: 80%;
    height: 100%;
    margin-left: 100px;
  }
}
