$f-l-color: #666;
$red-color: #f72210;

.svg-style {
  width: 236px;
  height: 36px;
  fill: $red-color;
  margin-right: 15px;
  margin-bottom: 12px;
}

.link-size {
  line-height: 15px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-links {
  color: $f-l-color;
}

.fs-7 {
  font: 12px Arial, Helvetica, sans-serif;
}

.pe-20 {
  padding-right: 20px;
}

.page-footer {
  padding: 48px 15px 30px;
}

.icons {
  height: 24px;
  width: 24px;
  text-align: center;
}

.icons-font {
  font-size: 26px;
}

.mb-12 {
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .show-border {
    border-right: 1px solid rgb(231, 231, 231);
  }
}
  