.datetime,
.nav-middle
.nav-lower,
.login {
  display: none;
}

.search-area {
  text-align: right;
}

.search-area > a {
  text-decoration: none;
}

.nav-top {
  background-color: #f72210;
  padding: 8px;
}

.nav-logo {
  width: 50%;
  height: 20px;
}

.btn-subscribe {
  font-weight: bold;
  border-radius: 20px;
}

.nav-middle .navbar-nav a{
  color: black !important;
  line-height: 50px;
  /* padding: 30px; */
}

/* Desktop */
@media only screen and (min-width: 992px) {
  .datetime,
  .nav-middle,
  .nav-lower,
  .login {
    display: inline;
  }

  .user-logo,  
  .menu-icon {
    display: none;
  }

  .datetime {
    margin-top: 40px;
  }

  .search-area {
    padding-top: 40px;
    text-align: right;
  }

  .login {
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
  }

  .nav-middle a {
    font-weight: bold;
    border-right: 1px solid rgb(230, 228, 228);
    font-size: 1.0rem;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  .search_icon a {
    text-decoration: none;
    color: grey;
    font-weight: lighter;
    padding: 3px 2px 0px 5px;
  }

  .nav-lower a {
    border-top: 2px solid rgb(230, 228, 228);
    border-bottom: 2px solid rgb(230, 228, 228);
    text-align: center;
    font-weight: bold;
  }

  .datetime a {
    text-decoration: none;
    color: #fff;
  }

  .nav-logo {
    width: 80%;
    height: 100%;
    margin-left: 100px;
  }
}